.DS_Store
.pytest_cache/
.eggs/
*.egg-info/
.ipynb_checkpoints
.coverage
.coverage.*
coverage.xml
.vscode
.idea
.venv
*.out
*.pt
**/*.cpython-38.pyc
**/__pycache__/**
__pycache__/
dist/
docs/build/
toponetx/.DS_Store
toponetx/_version.py

# Sphinx documentation
docs/_build/
